<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 600px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="map" class="map"></div>


    <script type="text/javascript">
      var lakesSource = new ol.source.Vector({
        loader: function(extent, resolution, projection){
          var url ='{% url 'lakes:lakes' %}';
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url);
          var onError = function() {
            lakesSource.removeLoadedExtent(extent);
          }
          xhr.onerror = onError;
          xhr.onload = function() {
            if (xhr.status == 200) {
              console.log(xhr.responseText);
              lakesSource.addFeatures(
                  lakesSource.getFormat().readFeatures(xhr.responseText));
              console.log(lakesSource.getFeatures())
            } else {
              onError();
            }
          }
          xhr.send();
        },
        format: new ol.format.GeoJSON({dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'}),
      });

      var lakesLayer = new ol.layer.Vector({
        className: 'lakes-layer',
        source: lakesSource,
        zIndex: 1,
        style: new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: 'blue',
            width: 1,
          })
        })
      });

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          lakesLayer,
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-123.96, 54.17]),
          zoom: 5
        })
      });
      map.set
    </script>
  </body>
</html>
