{% extends "lakes/base.html" %} {% block content %}
<div class="container">
  <div class="jubotron mx-auto" style="width:800px">
    <h1>Hi I'm Xander!</h1>
    <h2>This is my Lakes Page</h2>
    <img src="static/lakes/images/xander.jpg" alt="" width="600px" />
    <h2>This Page is Still Under Construction</h2>
    <p>
      I like lake geography! So when this site is finished it will have
      <a href="https://en.wikipedia.org/wiki/Bathymetry">bathymetry</a> data for
      167 Albertan Lakes.
    </p>
  </div>
</div>
{% endblock %}
