<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <style media="screen">
      #map {
        height: 800px;
      }
    </style>
  </head>
  <body>
    <div id="map" />
    <script type="text/javascript">
      const addGeoJsonLayer = async endpoint => {
        try {
          const response = await fetch(endpoint);
          if (response.ok) {
            const jsonResponse = await response.json();
            L.geoJSON(jsonResponse, {
              style: lakePerimeterStyle,
              onEachFeature: onEachFeature
            }).addTo(mymap);
          }
        } catch (error) {
          console.log(error);
        }
      };
      const addDepthContours = async endpoint => {
        try {
          const response = await fetch(endpoint);
          if (response.ok) {
            const jsonResponse = await response.json();
            L.geoJSON(jsonResponse, { style: lakeContourStyle }).addTo(mymap);
          }
        } catch (error) {
          console.log(error);
        }
      };

      function lakePerimeterStyle(feature) {
        return { weight: "1" };
      }

      function lakeContourStyle(feature) {
        const shade = (115 - feature.properties.calc_dep_m) / 115;
        const color = `rgb(${51 * shade}, ${136 * shade}, ${255 * shade})`;
        return { weight: "0.8", color: color };
      }

      function onEachFeature(feature, layer) {
        //bind click
        layer.on("click", function(e) {
          const pk = e["target"]["feature"]["properties"]["pk"];
          addDepthContours(`/contours/${pk}/geojson`);
          const { _northEast, _southWest } = e["target"]["_bounds"];
          const lakeName = e["target"]["feature"]["properties"]["name"];
          console.log(lakeName);
          layer.bindPopup(lakeName).openPopup();
          mymap.fitBounds([
            [_northEast.lat, _northEast.lng],
            [_southWest.lat, _southWest.lng]
          ]);
        });
      }

      var mymap = L.map("map").fitBounds([[60, -120], [49, -110]]);
      L.tileLayer(
        "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        {
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: "mapbox/satellite-streets-v11",
          accessToken:
            "pk.eyJ1IjoiZG9ub2hvZWEiLCJhIjoiY2s1bjJuM3IwMHFiejNrcGZkMDdkMjI3cCJ9.tZiSlH78_0M5q-SYuvC4EA"
        }
      ).addTo(mymap);
      addGeoJsonLayer("/lakes/geojson");
    </script>
  </body>
</html>
